<h5 class="mb-4 text-2xl my-2">{{ "Sign In" | translate }}</h5>
<form #loginForm="ngForm">
  <ion-input
    name="email"
    class="mb-4"
    type="email"
    [(ngModel)]="loginData.email"
    required
    label="{{ 'Email' | translate }}"
    label-placement="floating"
    pattern="[^@s]+@[^@s]+.[^@s]+"
  ></ion-input>
  <div class="flex flex-col input-password">
    <ion-input
      name="password"
      type="{{ showPassword ? 'text' : 'password' }}"
      [(ngModel)]="loginData.password"
      required
      label="{{ 'Password' | translate }}"
      label-placement="floating"
      placeholder="{{ 'Password' | translate }}"
      minlength="8"
    >
    </ion-input>
    <ion-icon
      class="cursor-pointer"
      *ngIf="showPassword"
      name="eye-off-outline"
      (click)="toggleShow()"
    ></ion-icon>
    <ion-icon
      class="cursor-pointer"
      *ngIf="!showPassword"
      name="eye-outline"
      (click)="toggleShow()"
    ></ion-icon>
  </div>

  <ion-button
    [disabled]="loginForm.invalid"
    class="mb-4 w-full"
    (click)="login()"
    >{{ "Login" | translate }}</ion-button
  >
  <div class="col-12 mb-2">
    <a [routerLink]="['/auth/forget-password']">
      {{ "Forgot Password?" | translate }}
    </a>
  </div>
  <div class="col-12 mb-2">
    {{ "Don't have an account?" | translate }}
    <a [routerLink]="['/auth/register']"
      >&nbsp;{{ "Register here" | translate }}</a
    >.
  </div>
</form>
