<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="!backUrl"></ion-menu-button>
      <ion-back-button
        *ngIf="backUrl"
        defaultHref="/"
        [routerLink]="backUrl"
      ></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="">
      <ion-title class="h-100"> {{ title }} </ion-title>
    </ion-buttons>

    <ion-buttons slot="secondary">
      <ion-item>
        {{ organizationService.organization()?.name }}
      </ion-item>

      <app-avatar></app-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
