<h5 class="mb-6 text-2xl">{{ "Sign Up" | translate }}</h5>
<form #registerForm="ngForm">
  <ion-input
    name="firstName"
    type="text"
    [(ngModel)]="registerData.firstName"
    required
    label="{{ 'First Name' | translate }}"
    label-placement="floating"
  ></ion-input>
  <ion-input
    name="lastName"
    type="text"
    [(ngModel)]="registerData.lastName"
    required
    label="{{ 'Last Name' | translate }}"
    label-placement="floating"
  ></ion-input>
  <ion-input
    name="email"
    type="email"
    [(ngModel)]="registerData.email"
    required
    label="{{ 'Email' | translate }}"
    label-placement="floating"
    pattern="[^@s]+@[^@s]+.[^@s]+"
  ></ion-input>
  <div class="flex flex-col input-password">
    <ion-input
      name="password"
      type="{{ showPassword ? 'text' : 'password' }}"
      [(ngModel)]="registerData.password"
      required
      label="{{ 'Password' | translate }}"
      label-placement="floating"
      placeholder="{{ 'Password' | translate }}"
      minlength="8"
    >
    </ion-input>
    <ion-icon
      class="cursor-pointer"
      *ngIf="showPassword"
      name="eye-off-outline"
      (click)="toggleShow()"
    ></ion-icon>
    <ion-icon
      class="cursor-pointer"
      *ngIf="!showPassword"
      name="eye-outline"
      (click)="toggleShow()"
    ></ion-icon>
  </div>

  <ion-button
    [disabled]="registerForm.invalid"
    class="w-full"
    (click)="register()"
    >{{ "Register" | translate }}</ion-button
  >
  <div class="py-4">
    {{ "Already have an account?" | translate }}
    <a [routerLink]="['/auth/login']">{{ "Login here" | translate }}</a
    >.
  </div>
</form>
