<div class="row g-0 auth-row ion-padding">
  <div class="d-none d-lg-block col-lg-6 col-xl-8">
    <div class="auth-cover-wrapper">
      <div class="auth-cover">
        <div class="title text-center">
          <h1 class="text-primary mb-10 display-3">
            {{ 'New Password' | translate }}
          </h1>
          <p class="text-medium">
            {{ 'Use your register email to recovery' | translate }}
            <br class="d-sm-block" />
            {{ 'or contact us' | translate }} <span class="">☺</span>
          </p>
        </div>
        <div class="cover-image">
          <img src="assets/images/auth/signin-image.svg" alt="" />
        </div>
        <div class="shape-image">
          <img src="assets/images/auth/shape.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-xl-4 ion-padding">
    <app-logo></app-logo>
    <h5 class="mb-15 display-6 my-2">{{ 'New Password' | translate }}</h5>
    <form #form="ngForm">
      <div class="input-password">
        <ion-input
          name="password"
          type="{{ showPassword ? 'text' : 'password' }}"
          [(ngModel)]="password"
          required
          label="{{ 'Password' | translate }}"
          label-placement="floating"
          placeholder="{{ 'Password' | translate }}"
          minlength="8"
        >
        </ion-input>
        <ion-icon
          class="show-option"
          *ngIf="showPassword"
          name="eye-off-outline"
          (click)="toggleShow()"
        ></ion-icon>
        <ion-icon
          class="hide-option"
          *ngIf="!showPassword"
          name="eye-outline"
          (click)="toggleShow()"
        ></ion-icon>
      </div>
      <ion-button
        [disabled]="form.invalid"
        class="mb-5"
        expand="full"
        (click)="save()"
        >{{ 'Save' | translate }}</ion-button
      >
    </form>
  </div>
</div>
