.auth {
  .auth-cover-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 45px;
    position: relative;
    z-index: 1;
    height: 100vh;

    .auth-cover {
      .title {
        text-align: cover;
        margin-bottom: 40px;
      }

      .cover-image {
        max-width: 100%;
        margin: auto;

        img {
          width: 100%;
        }
      }
      .shape-image {
        position: absolute;
        z-index: -1;
        right: 0;
        bottom: 5%;
      }
    }
  }
}
