<div class="row g-0 auth-row">
  <div class="d-none d-lg-block col-lg-6 col-xl-8">
    <div class="auth-cover-wrapper">
      <div class="auth-cover">
        <div class="title text-center">
          <h1 class="text-primary mb-10 display-3">
            {{ 'Forgot Password' | translate }}
          </h1>
          <p class="text-medium">
            {{ 'Use your register email to recovery' | translate }}
            <br class="d-sm-block" />
            {{ 'or contact us' | translate }} <span class="">☺</span>
          </p>
        </div>
        <div class="cover-image">
          <img src="assets/images/auth/signin-image.svg" alt="" />
        </div>
        <div class="shape-image">
          <img src="assets/images/auth/shape.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-xl-4 ion-padding">
    <app-logo></app-logo>
    <h5 class="mb-15 display-6 my-2">{{ 'Forgot Password' | translate }}</h5>
    <form #form="ngForm">
      <ion-input
        name="email"
        class="mb-5"
        type="email"
        [(ngModel)]="email"
        required
        label="{{ 'Email' | translate }}"
        label-placement="floating"
        pattern="[^@s]+@[^@s]+.[^@s]+"
      ></ion-input>
      <ion-button
        [disabled]="form.invalid"
        class="mb-5"
        expand="full"
        (click)="send()"
        >{{ 'Reset' | translate }}</ion-button
      >
      <div class="col-12 mb-2">
        <a routerLink="/auth/login"> {{ 'Login here' | translate }} </a>
      </div>
      <div class="col-12 mb-2">
        {{ "Don't have an account?" | translate }}
        <a [routerLink]="['/auth/register']"
          >&nbsp;{{ 'Register here' | translate }}</a
        >.
      </div>
    </form>
  </div>
</div>
