<div class="row g-0 auth-row">
  <div class="d-none d-lg-block col-lg-6 col-xl-8">
    <div class="auth-cover-wrapper">
      <div class="auth-cover">
        <div class="title text-center">
          <h1 class="text-primary mb-10 display-3">
            {{ 'Get Started' | translate }}
          </h1>
          <p class="text-medium">
            {{ 'Start creating the best possible user experience' | translate }}
            <br class="d-sm-block" />
            {{ 'for you employee' | translate }}.
          </p>
        </div>
        <div class="cover-image">
          <img src="assets/images/auth/signin-image.svg" alt="" />
        </div>
        <div class="shape-image">
          <img src="assets/images/auth/shape.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-xl-4 ion-padding">
    <app-logo></app-logo>
    <app-register-form></app-register-form>
  </div>
</div>
