<ion-list id="inbox-list" class="px-3">
  <div class="flex justify-center items-center p-4 min-w-full">
    <app-logo class="w-20 object-center"></app-logo>
    <!--
    <app-avatar></app-avatar>
    -->
  </div>
  <br />
  <ion-item>
    <ion-select
      *ngIf="organizationService.organizations()"
      [(ngModel)]="organizationId"
      (ngModelChange)="onOrganizationChange($event)"
      name="organization"
      label="{{ 'Select Organization' | translate }}"
      placeholder=""
    >
      <ion-select-option
        *ngFor="let organization of organizationService.organizations()"
        [value]="organization.id"
        >{{ organization.name }}</ion-select-option
      >
    </ion-select>
  </ion-item>
  <br />
  <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
    <ion-item
      routerDirection="root"
      [routerLink]="[p.url]"
      lines="none"
      detail="false"
      routerLinkActive="selected"
    >
      <ion-icon
        aria-hidden="true"
        slot="start"
        [ios]="p.icon + '-outline'"
        [md]="p.icon + '-sharp'"
      ></ion-icon>
      <ion-label>{{ p.title | translate }}</ion-label>
    </ion-item>
  </ion-menu-toggle>
</ion-list>
